<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}TwoBin{% endblock %}</title>
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon"> -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    {% block head %}{% endblock %}
</head>
<body>

{% block nav %}
<!-- 灰底黑字 -->
<nav class="navbar navbar-expand-sm navbar-expand-md navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/"><i class="fa fa-home"></i> TwoBin</a>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="row" style="padding: 40px;">
    <div class="col-md-6" style="padding: 45px;">
        <!-- <form class="form-inline">
            <div class="form-group">
                <input type="text" name="ip" class="form-control" value="127.0.0.1" id="ip">
            </div>
            <div class="form-group" style="padding-left: 10px;">
                <input type="text" name="port" class="form-control" value="8001" id="port">
            </div>
            <div class="form-group" style="padding-left: 10px;">
                <button type="button" class="btn btn-primary" onclick="Connect();" id="connect">Connect</button>
            </div>
        </form> -->
        <form style="padding-top: 10px;">
            <label>发送数据</label>
            <div class="form-group">
                <textarea class="form-control" style="height: 380px;width: 100%;" id="send_data" name="send_data"></textarea>
            </div>
            <button type="button" class="btn btn-primary" id="submit" onclick="send();">发送</button>
            <button type="button" class="btn btn-primary float-right" onclick="clear_send();">清空</button>
        </form>
    </div>
    <div class="col-md-6" style="padding-top: 85px;">
        <div class="col-md-12 card-body" style="height: 380px;width: 100%; overflow-y: auto; background-color: rgba(4, 4, 6, 0.53); color: #27ce27d6;" id="recv_data">
        </div>
        <div style="padding-top: 15px;">
            <button type="button" class="btn btn-primary float-right" onclick="clear_recv();">清空</button>
        </div>

    </div>

</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/jquery-3.2.1.min.js"></script>
<!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
<script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<script src="/static/socket.io.js"></script>
<script>
    var socket;
    $(document).ready(function(){
        socket = io.connect();
        socket.on('connected', function() {
            socket.emit('connect', {});
        });

        socket.on('message', function(data) {
            $('#recv_data').append('<p style="color: #27ce27d6;">['+data['connect'] +']: ' + data['msg'] + '</p>');
            $('#recv_data').scrollTop($('#recv_data')[0].scrollHeight - $('#recv_data')[0].clientHeight);
        });
    });


    function clear_recv() {
        $('#recv_data').empty();
    }

    function clear_send() {
        $('#send_data').val('');
    }

    function send(){
        var ip = $('#ip').val();
        var port = $('#port').val();
        var data = $('#send_data').val();
        $.ajax({
            url: '/send',
            type: 'post',
            dataType: 'json',
            data: {data: data, ip: ip, port: port},
            success: function(resp){
                if (resp.success) {
                    console.log(resp);
                } else {
                    alert(resp.err_msg);
                }
            },
            error: function(){
                alert('Server Error!');
            }
        })
    }

    function Connect(){
        var ip = $('#ip').val();
        var port = $('#port').val();
        if ($('#connect').text() === 'Connect') {
            $.ajax({
                url: '/connect',
                type: 'post',
                dataType: 'json',
                data: {ip: ip, port: port},
                success: function(resp){
                    if (resp.success) {
                        $('#connect').text('Disconnect');
                        $('#ip').prop('disabled', true);
                        $('#port').prop('disabled', true);

                    }else{
                        alert(resp.err_msg);
                    }
                }
            });
        }else{
            $('#connect').text('Connect');
            $('#ip').prop('disabled', false);
            $('#port').prop('disabled', false);
/*            $.ajax({
                url: '/disconnect',
                type: 'post',
                dataType: 'json',
                data: {ip: ip, port: port},
                success: function(resp){
                    if (resp.success) {
                        $('#connect').text('Connect');
                        $('#ip').prop('disabled', false);
                        $('#port').prop('disabled', false);


                    }
                }
            });
*/        }


    }

</script>
{% endblock %}
</body>
</html>

